@import url(../css/colors/colorStyle.css);

#container, #principal {
    -fx-background-color: -bege;
}
.texto {
    -fx-text-fill: -preto;
}
.botoes{
    -fx-text-fill: -branco;
    -fx-margin-left: 20px;
    -fx-background-color: -preto;
}
.criar {
    -fx-background-color: -verde;
    -fx-text-fill: -branco;
}
.cancelar {
    -fx-background-color: -preto;
    -fx-text-fill: -branco; 
}