@import url(../css/colors/colorStyle.css);

#header {
    -fx-background-color: #A22D2E;
}

#tabela .table-column {
    -fx-alignment: CENTER;
  }
.botoes {
    -fx-background-color: -verde;
    -fx-text-fill: -branco;
}
#imagens, #descricao, #listaParticipantes, #listaOrganizadores, #listaColaboradores, #arquivos {
    -fx-background-color: white;
}
.texto {
    -fx-font-size: 16px;
}
.lista {
    -fx-background-color: -branco;
}
.faixas {
    -fx-background-color: -vermelho;
}
#container {
    -fx-background-color: #E9E3CA;
}