.root{
    -color-button: #D67C40;
    -color-form: #E3E3E3;
    -fx-background-image:url('../imagens/imagem-casa.jpg');
    -fx-background-size:cover;
}

#form{
    -fx-background-color: -color-form;
    -fx-opacity: 82%;
    /*-fx-position: absolute;
    -fx-top: 50%;
    -fx-left: 50%;
    -fx-transform: translate(-50%, -50%);*/
}

#loginButton {
    -fx-background-color: -color-button;
    -fx-position: absolute;
    /*-fx-top: 50%;
    -fx-left: 50%;
    -fx-transform: translate(-50%, -50%) ;*/
}
