@import url(../css/colors/colorStyle.css);

.root {
    -fx-background-color: -bege;
}
#principal {
    -fx-background-color: -branco;
}
.opcoes {
    -fx-background-color: -branco;
    -fx-text-fill: -preto;
}
.opcoes:hover {
    -fx-text-fill: -laranja;
}
.botoes {
    -fx-background-color: -verde;
    -fx-text-fill: -branco;
}