#header {
    -fx-background-color: #A22D2E;
}

#tabela .table-column {
    -fx-alignment: CENTER;
  }
#imagens, #descricao, #listaParticipantes, #listaOrganizadores, #listaColaboradores, #arquivos {
    -fx-background-color: white;
}

#container {
    -fx-background-color: #E9E3CA;
}
