@import url(../colors/colorStyle.css);

.root {
    -fx-background-color: -bege;
}
.adicionar {
    -fx-background-color: -verde;
    -fx-text-fill: -branco;
}
.vincular {
    -fx-background-color: -preto;
    -fx-text-fill: -branco;
}
#cancelar {
    -fx-background-color: -vermelho;
    -fx-text-fill: -branco;
}