@import url(../colors/colorStyle.css);

.root {
    -fx-background-color: -bege;
}
#container{
    -fx-background-color: #E9E3CA;
    -fx-position: relative;
}
#botao{
    -fx-position: relative;
    -fx-left: 50%;
}