@import url(../colors/colorStyle.css);

#container, #principal {
    -fx-background-color: -bege;
}
.botoes {
    -fx-background-color: -verde;
    -fx-text-fill: -branco;
}
.faixas {
    -fx-background-color: -vermelho;
    -fx-pref-height: 3px;
}
#cancelar {
    -fx-background-color: -preto;
    -fx-text-fill: -branco;
}