@import url(../colors/colorStyle.css);

.root {
  -color-button: -laranja;
  -color-form: -branco;
  -fx-background-image: url("../../imagens/imagem-casa.jpg");
  -fx-background-size: cover;
}

#form {
  -fx-background-color: -color-form;
  -fx-opacity: 82%;
}

#loginButton {
  -fx-background-color: -color-button;
  -fx-position: absolute;
}
#linkCadastro {
  -fx-text-fill: -black;
}
