.root{
    -color-button: #D67C40;
    -color-form: #E3E3E3;
    -fx-background-image:url('../../imagens/imagem-casa.jpgA');
    -fx-background-size:cover;
}

#form{
    -fx-background-color: -color-form;
    -fx-opacity: 82%;
}

#loginButton {
    -fx-background-color: -color-button;
    -fx-position: absolute;
}
