@import url(../colors/colorStyle.css);

#container{
    -fx-background-color: -bege;
}
#pesquisar, #exibir, #filtro{
    -fx-color: -black;
}
#resultadosPesquisa, #resultados{
    -fx-background-color: -branco;
}
#botao{
    -fx-background-color: -verde;
}